= content_for :custome_js do
  =javascript_include_tag "ckeditor/init"

- is_new = is_new?(@task)
- edit = is_new || @edit

= render(:partial => "tasks/edit", :locals => {:edit => edit, :is_new => is_new})

-#- unless is_new
-#  = render "comments/new", :commentable => @task
-#  = render :partial => "shared/timeline", :collection => @timeline
-#
-#  = hook(:show_task_bottom, self, {entity: @task}) do
    = render :partial => "versions/versions", :locals => {:object => @task}
