- is_new = is_new?(@task)
- edit = is_new || @edit

= render :partial => 'layouts/title_bar', :locals => {:model => @task, :edit => edit}

= render(:partial => "tasks/edit", :locals => {:edit => edit, :is_new => is_new})

-#- unless is_new
-#  = render "comments/new", :commentable => @lead
-#  = render :partial => "shared/timeline", :collection => @timeline
-#
-#  = hook(:show_lead_bottom, self, {entity: @lead}) do
-#    = render :partial => "versions/versions", :locals => {:object => @lead}
