#dropown_profile.dropdown.pull-right
  %button.dropdown-toggle{"data-toggle" => "dropdown", :style => "border-width: 0px; background-color: transparent;"}
    = avatar_for(current_user, :size => :small_medium)
    %span.caret
  %ul.dropdown-menu
    = yield


:css
  #dropown_profile {
    margin-right: 10px;
  }

  #dropown_profile .dropdown-item {
    padding: 3px 5px;
  }

  #dropown_profile .dropdown-item a {
    display: block;
  }
