- title = (recent.item.respond_to?(:full_name) ? recent.item.full_name : recent.item.name)
%li.dropdown-item
  %span= t(recent.item_type.downcase) + ":"
  %span= link_to(truncate(title, :length => 19), polymorphic_url(recent.item), :title => title)
