.standalone
  %div
    Cảm ơ bạn đăng ký, mở email và xác nhận đăng ký để bắt đầu sử dụng chương trình.
    - if Rails.env.development?
      URL xác nhận:
      = link_to("Xác nhận", confirmation_url(@resource, confirmation_token: @resource.confirmation_token))

  %b
    = link_to("Tới trang đăng nhập", session_url(@resource))
