.standalone
  %div
    Cảm ơ bạn đăng ký, mở email và xác nhận đăng ký để bắt đầu sử dụng chương trình.
    Confirm URL:

  = link_to("Confirm", confirmation_url(@resource, confirmation_token: @resource.confirmation_token))