
  <div class="inputs">
      <p class="well">
          <%= f.hidden_field :name, value:@group_type %>
      </p>

      <label>Giá trị:</label>
      <p class="well">
          <%= f.text_field :value %>
      </p>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
