- entity_name = controller.controller_name.singularize
- create_id = "create_#{entity_name}"
- index_path = index_path(entity_name)

- if params[:cancel].true?
  = redirect_to_previous_path_or(index_path)
