.background-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index:100;

  text-align:center;
  vertical-align:middle;
  .magnify-center {
    position:absolute;
    z-index:101;
  }
}

.danger {
  background: indianred;
}

.tools-next {
  font-size: 14px;
  display: inline-block;
  padding: 0px 0px 0px 4px;
  //&#comment_new_tools {
  //  margin: 8px 0px 0px 0px;
  //}
}

/* board: a panel that appear distinctly out of background */
.board {
  background: white;
  padding: 10px 15px 10px 15px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 2px 2px 8px #bbbbbb, -2px 0px 8px #bbbbbb;
  /* -webkit-border-radius: 4px; */
  -webkit-box-shadow: 2px 2px 8px #bbbbbb, -2px 0px 8px #bbbbbb;
}

.board-container {
  padding: 5px;
}

.hidden {
  display: none;
}

.label-block {
  display: block;
  text-align: left;
}

//Override Boostrap
.errorExplanation p {
  margin-top: inherit;
}

//Overide for ransack-ui
.span12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
  width: 100%;
}


//TASK SHOW BEGIN
.row_theme {
  padding: 5px 0px 5px 0px;

}

.button {
  cursor: pointer;
}

a.link_tag {
  background-color: #efefef;
  border: 1px solid #d1d1d1;
  color: #777;
  //float: left;
  font-size: 10px;
  height: 16px;
  margin-top: 5px;
  padding: 3px 9px;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
}

a.link_tag:hover {
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
  height: 16px;
}

//TASK SHOW END


//CAMPAIGN START
.vertical-top {
  vertical-align: top;
}
//CAMPAIGN END

//PERMISSION START
.permissions_content {
  .radio_box input {
    vertical-align: middle;
  }
}

.permission_name_tag {
  padding: 3px 5px 3px 5px;
}
//PERMISSION END

.section_title {
  font-weight: bold;
  font-size: 14px;
  background: url(/assets/border.png) repeat-x 0 50%;
  overflow: hidden;

  .title-text {
    padding: 0 8px 0 0;
    background-color: white;
    white-space: nowrap;
    display: inline;
  }
}

.horizontal_line {
  border-bottom: 1px groove lightgray;
}

.entity_title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  .text_title {
    padding-bottom: 8px;
  }
}

.entity_title_bar {
  padding: 8px 0px 8px 0px;
}

.vertical_align_bottom {
  vertical-align: bottom;
}

//Align Account select
.chzn-container {
  vertical-align: bottom;
}

#account_select_create_title {
  margin-left: 10px;
}

.nopadding {
  padding: 0px;
}



.mz-row {
  border-bottom: 1px silver solid;
  padding: 4px 10px 4px 10px;
}

.mz-row::after {
  content: "";
  display: table;
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

.nowrap span {
  margin-right: 20px;
}

.task-dropdown {
  .dropdown-menu {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    font-size: 14px;

    li.check_box {
      padding: 4px;
    }
  }
}

//"New" button need white font
a:link.btn-new, a:visited.btn-new {
  color: white;
}
