//Tab layout
.sidebar {
  width: 10%;
  height: 100%;
  .module-bar{

  }

  .module-bar-item:nth-of-type(1) > a {
    &.active{
      box-shadow: 0px -4px 8px -3px rgb(187, 187, 187)
    }
  }

  .module-bar-item>a {
    padding: 20px 15px 20px 15px;
    display: block;
    color: #555;
    text-align: right;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;

    &.active {
      color: black;
      background: silver;
    }
  }

  //!hover here for less power than .active
  a {
    &:hover {
      color: black;
      background: transparent;
    }
  }
}
.sidebar {
  color: #3f3f3f;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
}
.right-panel {
  width: 90%;
  height: 100%;
}