.btn.btn-success.back
  %i.fa.fa-arrow-left{"aria-hidden"=>"true"}

:javascript
  $(function(){
    window.crm.registerUniqueHook(function(){
      $(".back").unbind();
      $(".back").click(function(){
          window.history.back();
      })
    }, "back-hook");
  })



