.btn.btn-success.back
  <-|

:javascript
  $(function(){
    window.crm.registerUniqueHook(function(){
      $(".back").unbind();
      $(".back").click(function(){
          window.history.back();
      })
    }, "back-hook");
  })



