.dropdown.pull-right
  %button#trigger-panel-filter.btn.btn-secondary.dropdown-toggle{"data-toggle" => "dropdown", :style=>"padding: 0px 5px 0px 5px"}
    = t :filter
    %span.caret
  %ul.dropdown-menu
    = yield