#about{ hidden }
  %h3
    Phần mềm mẫu Mozart
  %p
    Mozart là phầm mềm CRM mẫu với mục đích tham khảo. Phần mềm cung cấp sẵn các chức năng cơ bản và sẵn sàng được tuỳ biến để đáp ứng yêu cầu sử dụng của bạn.
