.main-content
  .sidebar.pull-left
    = render "layouts/modulebar"
  = show_flash
  .right-panel.pull-left
    .board-container
      -#todo: do not need get data for sidebar
      -#%div{ :class => :sidebar, :id => :sidebar, :valign => :top }
      -#  = render "layouts/sidebar"
      %table{ :width => "100%", :height => "100%", :cellpadding => 0, :cellspacing => 0, :class => :tabbed }
        %tr
          -#todo: deal with sidebar
          %td{ :class => "board", :id => :main, :valign => :top }
            = yield
  .clearfix