- lead ||= {}
- edit ||= false

- model_name = controller_name.singularize
- model_klass = model_name.camelcase.constantize

= render :partial => "#{controller_name}/title_bar", :locals => {:lead => @lead, :edit => false}

:javascript
  var event = crm.event;
  event.on(EVENT_EDIT_START, function(){
    console.log('TTT: Edit start');
    updateEditButtonCancellable(true);
  });

  event.on(EVENT_EDIT_CANCEL, function(){
    console.log('TTT: Edit ng');
    updateEditButtonCancellable(false);
  });

  event.on(EVENT_EDIT_OK, function(){
    console.log('TTT: Edit ok');
    updateEditButtonCancellable(false);
  });

  event.on(EVENT_EDIT_NG, function(){
    console.log('TTT: Edit ng');
    updateEditButtonCancellable(false);
  });

  //edit button
  function updateEditButtonCancellable(newEdit){
        var editBtn = $("#menu a[data-kind='edit']");
        editBtn.attr('href', editBtn.attr('href').replace(/cancel=(true|false)/,'cancel=' + newEdit));
        editBtn.attr('data-edit', newEdit);
        var label = newEdit ? 'Cancel' : 'Edit'
        editBtn.html(label);
  }

  $(function(){
    var menu = $("#menu");
    var editBtn = menu.find("a[data-kind='edit']");
    editBtn.click(function(){
        setTimeout(function(){
          //var edit = editBtn.attr('data-edit') ;
          //var newEdit = !(edit === 'true');
          //updateEditButtonCancellable(newEdit);
        });
    });
  });
